parameters:
    level: 5
    phpVersion: 80500
    paths:
        - app
        - bootstrap.php
        - imgboard.php
        - inc/captcha.php
        - local-router.php
        - tests
        - bin
